/****** Object:  StoredProcedure [dbo].[insert_person]    Script Date: 5/18/2017 6:48:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =================================================
-- Author:		Yu-Ting Tse
-- Create date: May 14, 2017
-- Description:	Adds a person
-- =============================================
CREATE PROCEDURE [dbo].[insert_person] 
	@address_id INT,
	@first_name VARCHAR(50),
	@last_name VARCHAR(50),
	@email_address VARCHAR(50)
AS

BEGIN TRY

INSERT INTO person VALUES (@address_id, @first_name, @last_name, @email_address)

END TRY

BEGIN CATCH

DECLARE @ErrorMessage NVARCHAR(4000);
DECLARE @ErrorSeverity INT;
DECLARE @ErrorState INT;

SELECT
	@ErrorMessage = ERROR_MESSAGE(),
	@ErrorSeverity = ERROR_SEVERITY(),
	@ErrorState = ERROR_STATE();

RAISERROR (@ErrorMessage,@ErrorSeverity,@ErrorState);
END CATCH


GO
